<!DOCTYPE html>
<html lang="en">

	<head>
		<title>{% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="{% if page.description %} {{ page.description }} {% else %} {{ site.description }} {% endif %}">

		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title"
			content="{% if page.url == "/" %}{{ site.data.settings.basic_settings.site_title }} – {{ page.title }}{% else %}{{ page.title }} – {{ site.data.settings.basic_settings.site_title }}{% endif %}">
		<meta name="twitter:description" content="{{ page.description }}">
		<meta name="twitter:image:src" content="{{ page.featured_image | absolute_url }}">

		<!-- Facebook OpenGraph -->
		<meta property="og:title"
			content="{% if page.url == "/" %}{{ site.data.settings.basic_settings.site_title }} – {{ page.title }}{% else %}{{ page.title }} – {{ site.data.settings.basic_settings.site_title }}{% endif %}" />
		<meta property="og:description" content="{{ page.description }}" />
		<meta property="og:image" content="{{ page.featured_image | absolute_url }}" />

		<!--  Fonts and icons -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
		<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
		<!-- Nucleo Icons -->
		<link href="{{ "/assets/css/nucleo-icons.css" | relative_url }}" rel="stylesheet" />
		<link href="{{ "/assets/css/nucleo-svg.css" | relative_url }}" rel="stylesheet" />
		<!-- Font Awesome Icons -->
		<link href="{{ "/assets/css/font-awesome.css" | relative_url }}" rel="stylesheet" />
		<link href="{{ "/assets/css/nucleo-svg.css" | relative_url }}" rel="stylesheet" />
		<!-- CSS Files -->
		<link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}" rel="stylesheet">

		{% if site.data.settings.advanced_settings.analytics_code %}
		<!-- Analytics Code -->
		{{ site.data.settings.advanced_settings.analytics_code }}
		{% endif %}

		{% if site.data.settings.advanced_settings.header_js %}
		<!-- Extra Header JS Code -->
		{{ site.data.settings.advanced_settings.header_js }}
		{% endif %}

		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

		<link rel="stylesheet" href="{{ "/assets/css/animate.css" | absolute_url }}">

		<link rel="stylesheet" href="{{ "/assets/css/owl.carousel.min.css" | absolute_url }}">
		<link rel="stylesheet" href="{{ "/assets/css/owl.theme.default.min.css" | absolute_url }}">
		<link rel="stylesheet" href="{{ "/assets/css/magnific-popup.css" | absolute_url }}">

		<link rel="stylesheet" href="{{ "/assets/css/flaticon.css" | absolute_url }}">
		<link rel="stylesheet" href="{{ "/assets/css/style.css" | absolute_url }}">
	</head>

	<body>

		<div id="page">
			<a href="#" class="js-nav-toggle nav-toggle"><i></i></a>
			<aside id="aside" role="complementary" class="js-fullheight">

				{% include navigation.html %}
				{% include footer.html %}

			</aside> <!-- END ASIDE -->
			<div id="main">
				{{ content }}
			</div><!-- END MAIN -->
		</div><!-- END PAGE -->

		<!-- loader -->
		<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

		<script src="{{ "/assets/js/jquery.min.js" | absolute_url }}"></script>
		<script src="{{ "/assets/js/jquery-migrate-3.0.1.min.js" | absolute_url }}"></script>
		<script src="{{ "/assets/js/popper.min.js" | absolute_url }}"></script>
		<script src="{{ "/assets/js/bootstrap.min.js" | absolute_url }}"></script>
		<script src="{{ "/assets/js/jquery.easing.1.3.js" | absolute_url }}"></script>
		<script src="{{ "/assets/js/jquery.waypoints.min.js" | absolute_url }}"></script>
		<script src="{{ "/assets/js/jquery.stellar.min.js" | absolute_url }}"></script>
		<script src="{{ "/assets/js/owl.carousel.min.js" | absolute_url }}"></script>
		<script src="{{ "/assets/js/jquery.magnific-popup.min.js" | absolute_url }}"></script>
		<script src="{{ "/assets/js/jquery.animateNumber.min.js" | absolute_url }}"></script>
		<script src="{{ "/assets/js/scrollax.min.js" | absolute_url }}"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
		<script src="{{ "/assets/js/google-map.js" | absolute_url }}"></script>
		<script src="{{ "/assets/js/main.js" | absolute_url }}"></script>

	</body>

</html>