---
layout: default
---

<section class="ftco-section ftco-no-pt ftco-no-pb">
	<div class="container px-md-0">
		<div class="row d-flex no-gutters">
			<div class="col-md-3 pricing">
				<div class="row no-gutters align-items-center">
					<div href="#" class="img w-100 js-fullheight d-flex align-items-center"
						style="background-image: url(images/work-1.jpg);">
						<div class="text p-4 ftco-animate">
							<h3>Model Photography</h3>
							<ul>
								<li><span>Photos</span>Package of 50</li>
								<li><span>Processing</span>Retouch</li>
								<li><span>Type of Camera</span>Semi Professional</li>
								<li><span>Resolution</span>12 MP</li>
								<li><span>Term</span>14 Days</li>
							</ul>
							<span class="price">$50</span>
							<p><a href="#" class="btn-custom">Explore</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 pricing">
				<div class="row no-gutters align-items-center">
					<div href="#" class="img w-100 js-fullheight d-flex align-items-center"
						style="background-image: url(images/work-2.jpg);">
						<div class="text p-4 ftco-animate">
							<h3>Events Photography</h3>
							<ul>
								<li><span>Photos</span>Package of 50</li>
								<li><span>Processing</span>Retouch</li>
								<li><span>Type of Camera</span>Semi Professional</li>
								<li><span>Resolution</span>12 MP</li>
								<li><span>Term</span>14 Days</li>
							</ul>
							<span class="price">$50</span>
							<p><a href="#" class="btn-custom">Explore</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 pricing">
				<div class="row no-gutters align-items-center">
					<div href="#" class="img w-100 js-fullheight d-flex align-items-center"
						style="background-image: url(images/work-3.jpg);">
						<div class="text p-4 ftco-animate">
							<h3>Corporate Photography</h3>
							<ul>
								<li><span>Photos</span>Package of 50</li>
								<li><span>Processing</span>Retouch</li>
								<li><span>Type of Camera</span>Semi Professional</li>
								<li><span>Resolution</span>12 MP</li>
								<li><span>Term</span>14 Days</li>
							</ul>
							<span class="price">$50</span>
							<p><a href="#" class="btn-custom">Explore</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 pricing">
				<div class="row no-gutters align-items-center">
					<div href="#" class="img w-100 js-fullheight d-flex align-items-center"
						style="background-image: url(images/work-4.jpg);">
						<div class="text p-4 ftco-animate">
							<h3>Movies Photography</h3>
							<ul>
								<li><span>Photos</span>Package of 50</li>
								<li><span>Processing</span>Retouch</li>
								<li><span>Type of Camera</span>Semi Professional</li>
								<li><span>Resolution</span>12 MP</li>
								<li><span>Term</span>14 Days</li>
							</ul>
							<span class="price">$50</span>
							<p><a href="#" class="btn-custom">Explore</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>